@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 1rem;
  font-size: 2rem;
  border: solid 1px white;
  background: transparent;
  margin:0 1rem;

  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}

a:hover{
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 100%, 0.1);
}

a.lined.thin{
  border: solid 2px white;
}

.heart {
  display: block;
  position: absolute;
  z-index: -1;
}

.h1 {
  top: -7rem;
  left: -8rem;
  transform: rotate(-14deg);
}
.h2 {
  bottom: -7rem;
  right: -12rem;
  transform: rotate(23deg);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  display: flex;
  place-items: center;
}
